<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>index...</div>
        <button id='btn_01'>sendData</button>
        <script>
            let eventSource = new EventSource('/eventstream');
            eventSource.addEventListener("open", (event)=>{
                console.log("eventSource open ... ");
            })
            eventSource.addEventListener("message", (event)=>{
                console.log('event_data : ', event.data);
            });

            document.querySelector('#btn_01').addEventListener('click', (e)=>{
                fetch('/sendData')
                .then((res)=>(res.json()))
                .then((data)=>{
                    console.log(data);
                });
            });
        
        </script>
    </body>
</html>