/* body{
  background-color: #ff0000;
} */

#board_container{
  min-height: 12%;
  border: 2px solid #000000;
  text-align: center;
}

#main_container{
  min-height: 45%;
  border: 2px solid #000000;
  text-align: center;
  overflow: auto;
}
#comment_write_container{
  min-height: 5%;
  border: 2px solid #000000;
}
#comment_container{
  min-height: 30%;
  border: 2px solid #000000;
  overflow: auto;
}

#button_container{
  min-height: 5%;
  border: 2px solid #000000;
}

div.comment_container{
  min-width: 100%;
  height: auto;
  overflow:hidden;
}

span.comment_col_container_01{
  width:15%;
  float:left;
  border: 0.5px solid #000000;
}

span.comment_col_container_02{
  width:75%;
  float:left;
  border: 0.5px solid #000000;
}

span.col_container_01{
  width:20%;
  float:left;
}

span.col_container_02{
  width:80%;
  float:left;
}

#comment_write_textfield{
  width: 94%;
}