/* body{
  background-color: #ff0000;
} */

#leftcontainer{
  float:left;
  /* width:200px; */
  width:20%;
}
#rightcontainer{
  width:80%;
  margin-left: 20%;
  min-height: 50%;
  border: 2px solid #000000;
}

.authcontainer{
  border: 2px solid #000000;
  max-width: 300px;
}

.boardListContainer{
  border: 2px solid #000000;
  max-width: 300px;
}
#board_common_container{
  border: 2px solid #000000;
}
/* #board_content_container{
  border: 2px solid #000000;
} */