<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <input type="text" id='inputId'>
        <button id='eventSourceConnect'>eventSourceConnect</button>
        <button id='event1'>event1</button>
        <button id='event2'>event2</button>
        <script>
            let rootUrl = 'http://192.168.0.51:5000';
            function myfetch(id, event, flag){
                fetch(rootUrl+'/pubsub', {
                            method : 'post',
                            headers : {
                                'Content-type': 'application/json',
                            },
                            body : JSON.stringify({
                                "usage":"pubsub",
                                "id":id,
                                "channel":event,
                                "subscribe_flag":flag
                            })
                }).then(response => console.log(response));                
            }
            document.getElementById('eventSourceConnect').addEventListener('click', function(e){
                var eventSource = new EventSource(rootUrl+"/stream/" + (document.getElementById('inputId')).value );
                let flag_event1 = false;
                let flag_event2 = false;
                eventSource.onmessage = function(event){
                    console.log(event.data); // string
                    // console.log('typeof event.data : ' + typeof(event.data));
                }
                eventSource.onerror = function(event){
                    console.log('sse onerror .. ' + event);
                    eventSource.close();
                }
                eventSource.onopen = function(event){
                    console.log('sse onopen ..');
                }
                eventSource.addEventListener('admin_channel', function(event){
                    console.log('adminchannel data : ' + event.data);
                });
                document.getElementById('event1').addEventListener('click', function(e){
                    if(flag_event1==false){
                        flag_event1=true;
                        myfetch((document.getElementById('inputId')).value , 'event1', 'subscribe')
                    }else{
                        flag_event1=false;                  
                        myfetch((document.getElementById('inputId')).value , 'event1', 'unsubscribe')
                    }
                });
                document.getElementById('event2').addEventListener('click', function(e){
                    if(flag_event2==false){
                        flag_event2=true;
                        myfetch((document.getElementById('inputId')).value , 'event2', 'subscribe')
                    }else{
                        flag_event2=false;                   
                        myfetch((document.getElementById('inputId')).value , 'event2', 'unsubscribe')
                    }
                });
            });
        </script>
    </body>
</html>