<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>sample.html...</div>
        <button id='btn_01' >get_queueData</button>
        <script>
            myFetch('/data');
            document.querySelector('#btn_01').addEventListener('click', function(e){
                myFetch('/getQueueData')
            })
            
            function myFetch(url){
                fetch(url).then(
                    (res)=>(res.json())
                ).then(
                    (data) => {
                        console.log('=================================================================');
                        console.log(data);
                        console.log('=================================================================');
                    }
                )                
            }
        </script>
    </body>
</html>