<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <div id='authcontainer' class='authcontainer'>
        {% if session['userData'] is defined %}
        <div>nickname : {{ session['userData'].member_nickname }}</div>
        <button id='btn_logout'>logout</button>
        {% else %}
        <button id='btn_login'>login</button>
        <button id='btn_signup'>signup</button>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>