<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <div id="tree_container"></div>
    test
    <button id="button1">button1</button>
    <button id='button2'>button2</button>
  </body>

  <script src="{{url_for('static', filename='js/tree.js')}}"></script>
  <script src="{{url_for('static', filename='js/test1.js')}}"></script>
  <script>
    console.log('before create custome tree ...')
    var tree = document.createElement('custom-tree');
    document.querySelector('#tree_container').append(tree);
  </script>
</html>
